@model Fonoteka2.Models.Utwor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utwor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minuty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minuty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sekundy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sekundy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gatunek.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gatunek.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zespol.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zespol.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUtworu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
