@model Fonoteka2.Models.Umiejetnosc

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h3 class ="text-danger">@ViewBag.Exception2</h3>
<h4 class="text-danger" font size="10">@ViewBag.Exception</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Umiejetnosc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdUmiejetnosci, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUmiejetnosci, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdUmiejetnosci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdWykonawcy, "Wykonawca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdWykonawcy", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdWykonawcy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdInstrumentu, "Instrument", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdInstrumentu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdInstrumentu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
