@model IEnumerable<Fonoteka2.Models.Album>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LastAlbums</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Godziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sekundy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zespol.Nazwa)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sekundy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zespol.Nazwa)
            </td>
            <td>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
