@model Fonoteka2.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataWydania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataWydania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zespol.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zespol.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAlbumu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
