@model IEnumerable<Fonoteka2.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albumy</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataWydania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godziny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minuty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sekundy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zespol.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataWydania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godziny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minuty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sekundy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zespol.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Ścieżka z View", "SciezkaDzwiekowaView", new { id = item.IdAlbumu }) |
            @Html.ActionLink("Ścieżka", "SciezkaDzwiekowa", new { id = item.IdAlbumu }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.IdAlbumu }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdAlbumu }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdAlbumu })
        </td>
    </tr>
}

</table>
