
@model IEnumerable<Fonoteka2.Models.LongestFromView_Result>

@{
  //  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>5 najdłuższych albumów</h1>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytuł)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Godziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MInuty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sekundy)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytuł)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Godziny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MInuty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sekundy)
                </td>

            </tr>
        }

    </table>
    <p>@Html.ActionLink("Back to Summary List", "Summary", "Home")</p>
</body>
</html>
