@model IEnumerable<Fonoteka2.Models.UtworyZView1_Result>

@{
    ViewBag.Title = "SciezkaDzwiekowaView";
}

<h2>SciezkaDzwiekowaView</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minuty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sekundy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatunek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zespół)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minuty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sekundy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zespół)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditZView", new { id = item.IdUtworu, idAlbumu = item.IdAlbumu }) |
            @Html.ActionLink("Delete", "DeleteZView", new { id = item.IdUtworu, idAlbumu = item.IdAlbumu })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
