
@{
    //    Layout = null;
    ViewBag.Title = "Statystki z roku";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Statystyki z Roku</h1>
</head>
<body>
    <div>
        <h2>Suma = @ViewBag.Hsum : @ViewBag.Msum : @ViewBag.Ssum</h2>
        <h2>Średnia = @ViewBag.Havg : @ViewBag.Mavg : @ViewBag.Savg </h2>
        <h2>Max = @ViewBag.Hmax : @ViewBag.Mmax : @ViewBag.Smax </h2>
        <h2>Min = @ViewBag.Hmin : @ViewBag.Mmin : @ViewBag.Smin </h2>
    </div>

    <p>@Html.ActionLink("Back to Summary List", "Summary", "Home")</p>
</body>
</html>