@{
    ViewBag.Message = "Summary";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Summary</h1>
</head>
<body>
    <div>
        @Html.ActionLink("Albumy z ostatniego roku danego wykonawcy", "UA", "Bands") <br />
        @Html.ActionLink("Czas wszystkich albumów z ostatniego miesiąca", "CZM", "Albums")<br />
        @Html.ActionLink("5 najdłuższych albumów","Longest", "Albums")<br />
        @Html.ActionLink("3 najpopularniejsze gatunków", "GetTop3", "Genres")<br />
        @Html.ActionLink("Ostatni miesiąc", "Staty", "Albums")<br />
        @Html.ActionLink("Ostatni rok","StatyRok", "Albums")
    </div>
</body>
</html>
